.box {
    height: 646px;
    width: 773px;
  }
  
  .element {
    height: 646px;
    left: 500px;
    position: relative;
    top: -150px;
    width: 50px;
    transform: scale(0.9);
  }
  
  .overlap {
    height: 646px;
    position: relative;
  }
  
  .view {
    background-color: #ffffff;
    height: 646px;
    left: 0;
    position: absolute;
    top: 0;
    width: 773px;
  }
  
  .rectangle {
    background-color: #ffffff;
    height: 646px;
    opacity: 0.58;
  }
  
  .div {
    height: 25px;
    left: 28px;
    position: absolute;
    top: 12px;
    width: 248px;
  }
  
  .text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20.5px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20.5px;
    font-weight: 600;
    left: 204px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .text-wrapper-3 {
    color: #73ac00;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20.5px;
    font-weight: 600;
    left: 123px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .view-2 {
    height: 574px;
    left: 8px;
    position: absolute;
    top: 64px;
    width: 373px;
  }
  
  .overlap-group-wrapper {
    height: 447px;
    left: 0;
    position: absolute;
    top: 0;
    width: 375px;
  }
  
  .overlap-group {
    background-color: #d9d9d9;
    height: 447px;
    position: relative;
    width: 373px;
  }
  
  .div-wrapper {
    background-color: #000000;
    height: 27px;
    left: 3px;
    position: absolute;
    top: 417px;
    width: 104px;
  }
  
  .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .heart {
    height: 24px;
    left: 340px;
    position: absolute;
    top: 7px;
    width: 24px;
  }
  
  .view-3 {
    height: 116px;
    left: 9px;
    position: absolute;
    top: 458px;
    width: 355px;
  }
  
  .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 100px;
  }
  
  .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .text-wrapper-7 {
    color: #eb4854;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
  }
  
  .text-wrapper-8 {
    color: #eb4854;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 67px;
    white-space: nowrap;
  }
  
  .p {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
  }
  
  .view-4 {
    height: 574px;
    left: 65px;
    position: absolute;
    top: 64px;
    width: 693px;
  }
  
  .view-5 {
    height: 447px;
    left: 320px;
    position: absolute;
    top: 0;
    width: 375px;
  }
  
  .overlap-2 {
    background-color: #000000;
    height: 27px;
    left: 2px;
    position: absolute;
    top: 417px;
    width: 88px;
  }
  
  .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .vector {
    height: 20px;
    left: 341px;
    position: absolute;
    top: 9px;
    width: 24px;
  }
  
  .view-6 {
    height: 116px;
    left: 0;
    position: absolute;
    top: 458px;
    width: 602px;
  }
  
  .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 330px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 100px;
  }
  
  .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 19px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 67px;
  }
  
  .overlap-3 {
    height: 20px;
    left: 330px;
    position: absolute;
    top: 46px;
    width: 60px;
  }
  
  .text-wrapper-12 {
    color: #eb4854;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .text-wrapper-13 {
    color: #eb4854;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .text-wrapper-14 {
    color: #eb4854;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 329px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 66px;
    width: 44px;
  }
  
  .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 19px;
    font-weight: 600;
    left: 377px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 66px;
    width: 67px;
  }
  
  .text-wrapper-16 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 330px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .text-wrapper-17 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 330px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
  }
  